body {
  background-color: black;
  color: #66ff33;
  margin: 50px auto;
  text-align: center;
}

.App {
  font-family: 'Bungee', cursive;
}

h1 {
  font-family: 'Bungee', cursive;
  font-size: 50px;
}

.container {
  display: grid;
  justify-items: center;
  align-items: center;
}

.controls {
  font-size: 20px;
  display: grid;
  justify-items: center;
  align-items: center;
  height: 450px;
}

.option {
  background-color: #66ff33;
  color: black;
  width: 300px;
  height: 50px;
  margin: 5px;
  cursor: pointer;
}

.display {
  background-color: #66ff33;
  color: black;
  width: 300px;
  height: 100px;
  margin: 5px;
}

.game-board {
  display: grid;
  width: 750px;
  grid-template-columns: repeat(50, 15px);
  grid-column-gap: 2px;
  justify-items: stretch;
}

.cell {
  width: 15px;
  font-size: 10px;
  height: 15px;
  border: 1px solid aliceblue;
}
